[Desktop Entry]
Name=I2P
GenericName=I2P Router Console
GenericName=[sv_SE]=I2P Routerkonsoll
Comment=Start I2P Router Console
Comment[sv_SE]=Starta routerkonsollen för I2P
Exec=xdg-open http://localhost:7657
Icon=i2p-logo-icon
Terminal=false
Type=Application
Categories=Network;X-I2P;
