[Desktop Entry]
Name=I2P Router Console
Name[sv]=I2P Routerkonsoll
Name[ar]=مركز تحكم I2P
Name[zh]=I2P 路由控制台
Name[da]=I2P Router-konsol
Name[de]=I2P-Routerkonsole
Name[ee]=I2P ruuteri konsool
Name[es]=Consola del Router I2P
Name[fi]=I2P reitittimen ohjauspaneeli
Name[fr]=Console du routeur I2P
Name[pl]=Konsola Routera I2P
Name[pt]=I2P Routerkonsoll
Name[ru]=Консоль маршрутизатора I2P
GenericName=Anonymous router console
GenericName[sv]=Anonym routerkonsoll
GenericName[ar]=ﻡﺮﻛﺯ ﺖﺤﻜﻣ I2P
GenericName[zh]=I2P 路由控制台
GenericName[da]=I2P Router-konsol
GenericName[de]=I2P-Routerkonsole
GenericName[ee]=I2P ruuteri konsool
GenericName[es]=Consola del Router I2P
GenericName[fi]=I2P reitittimen ohjauspaneeli
GenericName[fr]=Console du routeur I2P
GenericName[pl]=Konsola Routera I2P
GenericName[pt]=I2P Routerkonsoll
GenericName[ru]=Консоль маршрутизатора I2P
Comment=Start I2P Router Console
Comment[sv]=Starta routerkonsollen för I2P
Exec=xdg-open http://localhost:7657
Icon=i2p-router-console
Terminal=false
Type=Application
Categories=Network;X-I2P;
